/* здесь используйте глобальные переменные */

//цвета
$basic-white: #ffffff;
$basic-grey: #bdbdbd;
$basic-black: #333333;
$basic-primary: #7859cf;
$basic-secondary: #f0ebff;
$opacity-primary: rgba(120, 89, 207, 0.25);
$lighter-primary: #9070ec;
$darker-primary: #593cac;
$secondary-grey: #e2e2e2;
$background-grey: #f8f8f8;
$background-white: #f3ebe1;
$background-lavender: #eae6fc;
$background-espresso: #e5e6e8;

//Шрифты
$primary-font: "Montserrat", "arial", sans-serif;

//Размер экрана
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;


