.products__list {
  margin: 0 20px 40px;
  padding: 0;
  list-style: none;
  text-align: left;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}

.products__item {
  margin: 0;
  padding: 40px 20px 0;
  background-color: $basic-white;
  border-radius: 4px;
  min-height: 420px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 51px 30px 0;
    min-height: 440px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 317px;
    min-height: 460px;
  }
}

.products__item--active {
  @media (min-width: $desktop-width) {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
